*.zip filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
Pipeline/jars/tika-app-1.17.jar filter=lfs diff=lfs merge=lfs -text
ElasticSearch/x-pack-5.6.3.zip filter=lfs diff=lfs merge=lfs -text
